<!-- Selection  -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <!-- Bootstrap -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Final Page</title>
</head>
<body>
<div class="container">
    <hr> <!-- Черта -->
<table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Gender</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="us: ${emp}">
        <td th:text="${us.firstname}" />
        <td th:text="${us.lastname}" />
        <td th:text="${us.gender}" />
    </tr>
    </tbody>
</table>
</body>
</html>