<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<form th:action="result" th:object="${user}" method="get">
    Name:
    <input type="text" placeholder="What's your firstname?" th:field="*{firstname}" />
    <br>
    LastName:
    <input type="text" placeholder="What's your lastname?" th:field="*{lastname}" />
    <br>
    <select th:field="*{gender}">
        <option th:value="Male" th:text="Male" />
        <option th:value="Female" th:text="Female" />
    </select>
    <button type="submit">Enter</button>
</form>
</body>
</html>